main {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: black;
}

p {
  font-size: 15px;

  text-align: center;
}

header {
  display: grid;
  grid-template-rows: .1fr .1fr;
  text-align: center;
  font-family: arial;
  border-style: solid;
  overflow: hidden;
}

#how-tos {
  background-color: black;
  height: 25px;
  text-align: right;
  color: white;
}

#js-how-to-button {
  border: solid rgb(255, 200, 0);
  border-radius: 15px;
  color: rgb(255, 200, 0);
  background-color: transparent;
  cursor: pointer;
  position: relative;
}


#js-how-to-button:hover {
  transform: scale(3px);
}

#js-close-button {
  position: absolute;
  right: 10;
  color: rgb(255, 200, 0);
  border: none;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
}


#how-to-overlay-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: solid;
  width: 150px;
  height: 170px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(3, 1, 83);
  white-space: normal;
  border-radius: 10px;
  padding-top: 2px;
  text-align: center;
  overflow: hidden;
}


#newHS {
  margin-top: -5px;
  color: white;
  margin-bottom: 2px;
}

@keyframes banner-slide {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

#banner-img {
  width: 100%;
  animation-name: banner-slide;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  border: solid;
  height: 90px;
}

#game-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 100%;
  background-color: grey;


}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  flex: 1;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */

}

.column1 {
  flex: .5;
  display: flex;
  flex-direction: column;


}

.item {
  border: 1px solid #ddd;
  padding: 10px;


}

.stock-image {
  max-width: 100%;
  height: auto;
  width: auto;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  border: none;
  object-fit: cover;
  border-radius: 1px;
  margin: auto;
}

#img-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  border: none;
  background-color: white;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
}


#score {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#button-container {
  display: flex;
  justify-content: center;
  transform: translateX(-1px);

}


.guess-button {
  margin-left: -5px;
  margin-right: -1px;
  margin-top: 6px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  padding-left: .1vw;
  padding-right: .1vw;
  text-align: center;
  border: none;
  font-size: 5vw;
  color: white;
  font-weight: bold;
}

#js-new-game-button {
  display: none;
  background-color: gold;
  font-size: 11px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 5px;
  height: 45px;
}

#js-higher-button {
  background-color: transparent;
  color: rgb(20, 138, 10);
}


#js-higher-button:hover {
  background-color: transparent;
  color: rgb(76, 210, 74);
}

#js-lower-button {
  background-color: transparent;
  color: rgb(138, 10, 10);
}

#js-lower-button:hover {
  background-color: transparent;
  color: rgb(210, 74, 74);
}

#js-new-game-button:hover {
  background-color: rgb(255, 238, 1);
}

#end-game-overlay,
#how-to-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  transition: opacity 0.3s ease-in-out;
  color: white;
  display: none;


}

#overlay-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;

  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 10px;
  padding-top: 2px;
  text-align: center;
  overflow: hidden;
}


#newHS {
  margin-top: -5px;
  color: rgb(108, 3, 3);
  margin-bottom: 2px;
}


footer {
  background-color: rgb(65, 64, 64);
  bottom: 0;
  margin-left: -8px;
  position: fixed;
  color: white;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
}









@media only screen and (min-width: 1100px) {
  #button-container {
    transform: translate(-5px, -7px);
  }
}

@media only screen and (max-width: 768px) {
  #game-container {
    flex-direction: column;
    width: 300px;
  }

  .row {
    flex-direction: column;
  }

  .column {
    flex: 1;
  }

  #how-tos {
    height: 25px;
    margin: 0px;

  }

  header {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    font-family: arial;
    border-style: solid;
    height: 85px;

  }

  #banner-img {
    height: 60px;
  }



  #img-container {
    width: 50px;
    height: 50px;
    /*box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    /*horz offset, vert offset, blur radius, shadow color */
    /*z-index: 1;*/
  }

  p {
    font-size: 15px;

    text-align: center;
  }



  #guessStock-price {
    z-index: 100;
    line-height: 1px;
  }

  pre {
    margin: 0px;
  }


  .guess-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin: 0px;
    font-size: 40px;
  }

  #comp-side {
    border-style: solid;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  #banner-img {
    width: 100%;
    animation-name: banner-slide;
    animation-duration: 17s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border: solid;
  }

  #end-game-overlay,
  #how-to-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition: opacity 0.3s ease-in-out;
    color: white;
    display: none;

  }

  #overlay-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;

    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 10px;
    text-align: center;

  }

  #how-to-overlay-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    width: 250px;
    height: 200px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(3, 1, 83);
    border-radius: 10px;
    padding-top: 2px;
    text-align: center;
    overflow: hidden;
  }

  #bottom-l-side {
    color: white;
    vertical-align: top;
    border-style: solid;
    border-color: none;
    background-color: rgb(65, 64, 64);
    height: 20px;
    padding-bottom: 0px;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    text-align: top;
    /* Use flexbox */
  }



  #bottom-m-side {
    display: none;
  }

  #bottom-r-side {
    display: none;
  }

}