main {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: black;

}

body {
  background-color: black;
}

p {
  font-size: 15px;
}

header {
  text-align: center;
  font-family: arial;
  border-style: solid;
  display: flex;
  overflow: hidden
}

@keyframes example {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

#banner-img {
  width: 100%;
  animation-name: example;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  border: solid;
}

#game-container {

  display: grid;
  grid-template-rows: .25fr 1fr;
  grid-template-columns: 1fr .25fr 1fr;
  margin: 5vw 10vw 0vw 10vw;
  /* top right  bottom left */
  border-radius: 30px;
  border-style: solid;
  height: auto;
  margin: auto;
  max-height: 430px;
}

.stock-image {
  max-width: 100%;
  height: auto;
  width: auto;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  border: none;
  object-fit: cover;
  border-radius: 1px;
  margin: auto;
}

#img-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  border: none;
  background-color: white;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
}


#guess-side,
#comp-side,
#middle-side {
  text-align: center;
  vertical-align: middle;
  background-color: rgb(65, 64, 64);
  color: white;
}

#guess-side {
  vertical-align: middle;
  border-style: solid;
  border-color: rgb(65, 64, 64);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#middle-side {
  vertical-align: middle;
  border-style: solid;
  border-color: rgb(65, 64, 64);
}

#guess-text {
  color: rgb(255, 196, 0);
}

#comp-side {
  border-style: solid;
  border-color: rgb(65, 64, 64);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#button-container {
  display: flex;
  justify-content: center;
}


.guess-button {
  margin-left: -5px;
  margin-right: -1px;
  margin-top: 6px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  padding-left: .1vw;
  padding-right: .1vw;
  text-align: center;
  border: none;
  font-size: 5vw;
  color: white;
  font-weight: bold;
}

#js-new-game-button {
  display: none;
  background-color: gold;
  font-size: 11px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 5px;
  height: 45px;
}

#js-higher-button {
  background-color: transparent;
  color: rgb(20, 138, 10);
}


#js-higher-button:hover {
  background-color: transparent;
  color: rgb(76, 210, 74);
}

#js-lower-button {
  background-color: transparent;
  color: rgb(138, 10, 10);
}

#js-lower-button:hover {
  background-color: transparent;
  color: rgb(210, 74, 74);
}

#js-new-game-button:hover {
  background-color: rgb(255, 238, 1);
}

#end-game-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: opacity 0.3s ease-in-out;
  color: white;
  display: none;


}

#overlay-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: solid;
  width: 150px;
  height: 170px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(108, 3, 3);
  border-radius: 10px;
  padding-top: 2px;
  text-align: center;
  overflow: hidden;
}

.green-text {
  color: rgb(3, 187, 3);
  white-space: normal;
}

.red-text {
  color: rgb(187, 3, 3);
  white-space: normal;
}

#overlay-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: solid;
  width: 150px;
  height: 170px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(3, 1, 83);
  white-space: normal;
  border-radius: 10px;
  padding-top: 2px;
  text-align: center;
  overflow: hidden;
}


#newHS {
  margin-top: -5px;
  color: white;
  margin-bottom: 2px;
}

@media only screen and (max-width: 768px) {
  #game-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .25fr 1fr;
    margin: 5vw 10vw 0vw 10vw;
    /* top right  bottom left */
    border-radius: 30px;
    border-style: solid;
    background-color: rgb(65, 64, 64);
    height: 37vh;
  }

  #img-container {
    width: 50px;
    height: 50px;
  }

  p {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  #gStock-name,
  #guessStock-price {
    font-size: 10px;
    line-height: 1px;

  }

  #guess-side {
    vertical-align: middle;
    border-style: solid;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }

  #middle-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* To vertically center items */
  }

  .guess-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin: 0px;
    font-size: 40px;
  }




  #comp-side {
    border-style: solid;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
  }

  #banner-img {
    width: 100%;
    animation-name: example;
    animation-duration: 17s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border: solid;
  }

  #end-game-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition: opacity 0.3s ease-in-out;
    color: white;
    display: none;

  }

  #overlay-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    width: 100px;
    height: 150px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(108, 3, 3);
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
  }

  #overlay-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    width: 150px;
    height: 70px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(3, 1, 83);
    border-radius: 10px;
    padding-top: 2px;
    text-align: center;
    overflow: hidden;
  }
}