main {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: black;
  justify-content: center;
  align-items: center;
}

body {
  background-color: black;
}

p {
  font-size: 15px;
  text-align: center;
}

#guess-text {
  color: rgb(255, 200, 0);

}

header {
  display: grid;
  border-style: solid;
  grid-template-rows: .1fr .1fr;
  text-align: center;
  font-family: arial;
  overflow: hidden;
}

#how-tos {
  height: 25px;
  background-color: black;
  color: white;
  text-align: right;
}

#js-how-to-button {
  border: solid rgb(255, 200, 0);
  position: absolute;
  right: 4px;
  color: rgb(255, 200, 0);
  background-color: transparent;
  cursor: pointer;
  border-radius: 15px;
}


#js-how-to-button:hover {
  transform: scale(3px);
}

#js-close-button {
  position: absolute;
  right: 1px;
  color: rgb(255, 200, 0);
  border: none;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
}


#how-to-overlay-container {
  height: 170px;
  width: 150px;
  padding-top: 2px;
  border-style: solid;
  position: absolute;
  top: 40%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(3, 1, 83);
  white-space: normal;
  text-align: center;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow: hidden;
}


#newHS {
  margin-top: -5px;
  color: white;
  margin-bottom: 2px;
}

@keyframes banner-slide {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

#banner-img {
  height: 60px;
  width: 600px;
  border: solid;
  animation-name: banner-slide;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#guess-side,
#middle-side,
#comp-side,
#score-side {
  border: solid;
  border-top-width: 10px;
  border-bottom-width: 0px;
  border-color: rgb(100, 100, 100);
}

#guess-side {
  border-top-left-radius: 10px;
  border-left-width: 10px;
  border-right-width: 0px;
}

#middle-side {
  border-left-width: 0px;
  border-right-width: 0px;
}

#comp-side {
  border-top-right-radius: 10px;

  border-left-width: 0px;
  border-right-width: 10px;
}

#score-side {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-bottom-width: 10px;
  border-top-width: 0px;
}

#score {
  height: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#score-item {
  height: 15px;
  width: 100%;
  position: relative;
  text-align: center;
  color: rgb(255, 200, 0);
}

.left-span,
.right-span {
  position: absolute;
}

.left-span {
  left: 9px;
}

.right-span {
  right: 9px;
}


#game-container {
  height: 100%;
  width: 70vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(65, 64, 64);
  color: white;
  border-radius: 10px;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;

}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;

  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */

}

.item {
  height: 78px;
  padding: 5px;
  align-items: center;
  justify-content: center;
}


#img-container {
  height: 50px;
  width: 50px;
  border: none;
  position: relative;
  background-color: white;
  align-self: center;
  border-radius: 10px;
  overflow: hidden;
}

.stock-image {
  height: auto;
  width: auto;
  margin: auto;
  max-width: 100%;
  border: none;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  object-fit: cover;
  border-radius: 1px;
}


#button-container {
  display: flex;
  justify-content: center;
  transform: translateX(-1px);
}


.guess-button {
  border: none;
  width: 50px;
  height: 50px;
  margin-left: -5px;
  margin-right: -1px;
  margin-top: 6px;
  padding-left: .1vw;
  padding-right: .1vw;
  text-align: center;
  font-size: 35px;
  color: white;
  font-weight: bold;
  transform: translateY(-5px);
}

#js-new-game-button {
  height: 45px;
  margin-top: 0px;
  margin-bottom: 0px;
  display: none;
  font-size: 11px;
  background-color: gold;
  border-radius: 5px;
}

#js-higher-button {
  background-color: transparent;
  color: rgb(17, 174, 2);
}


#js-higher-button:hover {
  background-color: transparent;
  color: rgb(67, 250, 64);
}

#js-lower-button {
  background-color: transparent;
  color: rgb(207, 0, 0);
}

#js-lower-button:hover {
  background-color: transparent;
  color: rgb(255, 0, 0);
}

#js-new-game-button:hover {
  background-color: rgb(255, 238, 1);
}

#end-game-overlay,
#how-to-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  z-index: 9;
  transition: opacity 0.3s ease-in-out;
}

#overlay-container {
  height: 150px;
  padding-top: 2px;
  border: none;
  position: absolute;
  top: 40%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow: hidden;
}


#newHS {
  margin-top: -5px;
  color: rgb(108, 3, 3);
  margin-bottom: 2px;
}


@media only screen and (max-width: 768px) {

  header {
    height: 85px;
    width: 100%;
    border-style: solid;
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    font-family: arial;
  }

  p {
    font-size: 15px;
    text-align: center;
  }

  #banner-img {
    height: 60px;
    width: 600px;
    border: solid;
    animation-name: banner-slide;
    animation-duration: 17s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  #img-container {
    height: 50px;
    width: 50px;
    /*box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    /*horz offset, vert offset, blur radius, shadow color */
    /*z-index: 1;*/
  }

  #guess-side,
  #middle-side,
  #comp-side,
  #score-side {
    border: solid;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: rgb(100, 100, 100);
    border-radius: 0px;
  }

  #score {
    height: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  #score-item {
    height: 20px;
    width: 100%;
  }

  #guess-side {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 0px;
  }

  #middle-side {
    border-top-width: 0px;
    border-right-width: 10px;
    border-bottom-width: 0px;
  }

  #comp-side {
    border-top-width: 0px;
    border-bottom-width: 0px;
  }

  #score-side {
    border-top-width: 0px;
    border-bottom-width: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
  }

  #game-container {
    width: 70vw;
    flex-direction: column;
  }

  .row {
    flex-direction: column;
  }

  .column {
    flex: 1;
  }

  .item {
    height: 58px;
    padding: 5px;
    align-items: center;
    justify-content: center;
  }

  #how-tos {
    height: 25px;
    margin: 0px;
  }

  #guessStock-price {
    line-height: 1px;
  }

  #guessStock-trend,
  #compStock-trend {
    line-height: 1px;
  }

  .guess-button {
    margin: 0px;
    border: none;
    background: none;
    font-size: 40px;
    cursor: pointer;
  }

  #end-game-overlay,
  #how-to-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    transition: opacity 0.3s ease-in-out;
    z-index: 999;
  }

  #overlay-container {
    border: none;
    position: absolute;
    top: 45%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    transform: translate(-50%, -50%);
  }

  #info-text {
    margin: 12px;
  }

  #how-to-overlay-container {
    height: 200px;
    width: 250px;
    padding-top: 2px;
    border-style: solid;
    position: absolute;
    top: 40%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(3, 1, 83);
    border-radius: 10px;
    overflow: hidden;
    transform: translate(-50%, -50%);
  }
}