main {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

header {
  text-align: center;
  font-family: arial;
}

#comp-side,
#guess-side {
  border: 2px solid black;
  flex: 1;
  text-align: center;
  height: 85vh;
}

.stock-image {
  width: 100px;
  height: 50px;
  border: solid;
  border-color: black
}

.guess-button {
  margin-left: -5px;
  margin-right: -1px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  padding-left: 1px;
  padding-right: 3px;
  text-align: center;
  border: none;
  font-size: 50px;
  color: white;
  font-weight: bold;
}

#js-new-game-button {
  display: none;
  background-color: rgb(238, 222, 0);
  font-size: 10px;
  color: white;
  font-weight: bold;
}

#js-higher-button {

  background-color: transparent;
  /* rgb(160, 61, 61);*/
  color: rgb(20, 138, 10);
}

#js-higher-button:hover {
  background-color: transparent;
  color: rgb(76, 210, 74);

}

#js-lower-button {
  margin-left: 1px;
  background-color: transparent;
  /* rgb(160, 61, 61);*/
  color: rgb(138, 10, 10);
}

#js-lower-button:hover {
  background-color: transparent;
  color: rgb(210, 74, 74);
}

#js-new-game-button:hover {
  background-color: rgb(255, 238, 1);
}

#button-container {
  display: flex;
  justify-content: center;
  margin-top: -15px;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  animation-name: moveAcross;

}

header {
  background-color: black;
}

#button-higher-text {
  position: absolute;
  margin-left: 5px;
  font-size: 12px;
  transform: translate(-5px, -18px);
}

#button-lower-text {
  position: absolute;
  margin-left: 5px;
  font-size: 12px;
  transform: translate(5px, -19px);
}

#compStock-price {
  font-size: 20px;
}

#than-container {
  position: relative;

}

#than-text-container {
  position: absolute;
  border-radius: 30px;
  border-style: solid;
  height: 40px;
  width: 50px;
  padding-top: 10px;
  padding-bottom: -10px;
  margin: 0px;
  font-size: 20px;

  text-align: center;
  transform: translate(-26px, 120px);
  background-color: white;

}

p {
  margin-bottom: 10px;
}