main {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}



header {
  text-align: center;
  font-family: arial;
}



#comp-side,
#guess-side {
  border: 2px solid black;
  flex: 1;
  text-align: center;
  height: 85vh;
}

.guess-button {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  padding-left: 1px;
  padding-right: 3px;
  text-align: center;
}



#js-new-game-button {
  display: none;
  background-color: rgb(238, 222, 0);
}

#js-higher-button {
  background-color: rgb(61, 160, 61);
}

#js-lower-button {
  background-color: rgb(160, 61, 61);
}

#js-higher-button:hover {
  background-color: rgb(69, 193, 69);
}

#js-lower-button:hover {
  background-color: rgb(210, 74, 74);
}

#js-new-game-button:hover {
  background-color: rgb(255, 238, 1);
}

#button-container {
  display: block;
  margin: 0 auto;
  text-align: center;
  border-color: blue;
}