main {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

}

body {
  background-color: black;
}

p {
  font-size: 15px;
  text-align: center;
}

#game-over-text {
  margin-top: 5px;
  margin-bottom: 5px;
}

.guess-text {
  color: rgb(255, 200, 0);
}

header {
  display: grid;
  grid-template-rows: .1fr .1fr;
  text-align: center;
  font-family: arial;
  border-style: solid;
  overflow: hidden;
  margin-bottom: 10px;

}

#how-tos {
  background-color: black;
  height: 25px;
  text-align: right;
  color: white;
}

#js-how-to-button {
  border: solid rgb(255, 200, 0);
  border-radius: 15px;
  color: rgb(255, 200, 0);
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  right: 4px;
}

#js-how-to-button:hover {
  transform: scale(1.3);
}

#js-close-button,
#js-close-button-2 {
  position: absolute;
  right: 1px;
  color: rgb(255, 200, 0);
  border: none;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
}

a {
  color: rgb(255, 200, 0);
}

#newHS {
  margin-top: 5px;
  color: white;
  margin-bottom: 2px;
}

@keyframes banner-slide {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

#banner-img {
  width: 600px;
  animation-name: banner-slide;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  border: solid;
  height: 55px;
}

#guess-side,
#comp-side,
#score-side {
  border: solid;
  border-top-width: 10px;
  border-bottom-width: 0px;
  border-color: rgb(100, 100, 100);
}

#guess-side {
  border-top-right-radius: 10px;
  border-left-width: 0px;
  border-right-width: 10px;
  background-color: blue;
}


#comp-side {
  border-top-left-radius: 10px;
  border-left-width: 10px;
  border-right-width: 0px;
  background-color: pink;
}



#score-side {
  background-color: green;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-bottom-width: 10px;
  border-top-width: 0px;
}


#score {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 0px;
}

#score-item {
  height: 15px;
  width: 100%;
  position: relative;
  text-align: center;
}

.left-span,
.right-span {
  position: absolute;
}

.left-span {
  left: 9px;
}

.right-span {
  right: 9px;
}

#guessStock-price {
  color: rgb(239, 195, 0);
}

#game-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 540px;
  height: 100%;
  background-color: rgb(65, 64, 64);
  color: white;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Adjust the opacity as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: .95;
  /* Ensure the overlay appears above other content */
}

.overlay-content {
  /* Style your overlay content here */
  padding: 8px;
  background: rgba(0, 0, 0, 0.94);
  border-radius: 5px;
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  flex: 1;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 78px;
}




.name-item {
  height: 60px;
}

#img-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: white;
  border-radius: 10px;
}


.stock-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

#button-container {
  display: flex;
  justify-content: center;
  transform: translateX(-1px);
}


.guess-button {
  text-align: center;
  border: none;
  font-size: 35px;

  color: white;
  font-weight: bold;
  cursor: pointer;
}

.hide {
  display: none;
}

#js-new-game-button {
  background-color: rgb(239, 195, 0);
  font-size: 9px;
  border-radius: 5px;
  height: 30px;
  cursor: pointer;
  transform: translate(11px, 0px);

}

#js-new-game-button:hover {
  background-color: rgb(255, 213, 1);
}

#js-higher-button {
  background-color: transparent;
  transform: translateX(14px);
  transform: translateY(-10px);
  color: rgb(17, 174, 2);
}


#js-higher-button:hover {
  background-color: transparent;
  color: rgb(67, 250, 64);
}

#js-lower-button {
  background-color: transparent;
  transform: translateX(-14px);
  transform: translateY(-10px);
  color: rgb(207, 0, 0);
}

#js-lower-button:hover {
  background-color: transparent;
  color: rgb(255, 0, 0);

}

#how-to-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  transition: opacity 0.3s ease-in-out;
  color: white;
  display: none;
}

#how-to-overlay-container,
#how-to-overlay-container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: solid;
  width: 450px;
  height: 270px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -57%);
  background-color: rgb(3, 1, 83);
  border-radius: 10px;
  padding-top: 2px;
  text-align: center;
  overflow-y: auto;
}




@media screen and (max-width: 768px) {

  #guess-side,
  #comp-side,
  #score-side {
    border: solid;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: rgb(100, 100, 100);
    border-radius: 0px;
    border-bottom-width: 0px;
  }

  #score {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 0px;
  }



  #score-item {
    height: 20px;
    width: 100%;
  }

  #guess-side {
    border-top-width: 0px;
  }

  #comp-side {
    border-bottom-width: 0px;
    border-top-width: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  #score-side {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-width: 0px;
    border-bottom-width: 10px;
    display: flex;
    justify-content: space-between;
  }


  #game-container {
    flex-direction: column;
    width: 380px;
  }

  .row {
    flex-direction: column;
  }

  .column {
    flex: 1;
  }

  .item {
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 55px;
  }

  .name-item {
    height: 30px;
  }

  #how-tos {
    height: 25px;
    margin: 0px;
  }

  header {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    font-family: arial;
    border-style: solid;
    height: 85px;

  }

  #banner-img {
    height: 60px;
  }


  p {
    font-size: 15px;
    text-align: center;
  }

  #guessStock-name,
  #compStock-name {
    margin-top: 2px;
    margin-bottom: 1px;
  }

  #guessStock-trend,
  #compStock-trend {
    line-height: 1px;
  }

  .guess-button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0px;
    font-size: 40px;
  }

  #js-higher-button {
    transform: translateX(10px);
    transform: translateY(-10px);

  }


  #js-lower-button {
    transform: translateX(-24px);
    transform: translateY(-10px);
  }

  #banner-img {
    width: 600px;
    animation-name: banner-slide;
    animation-duration: 17s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border: solid;
  }

  #how-to-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition: opacity 0.3s ease-in-out;
    color: white;
    display: none;

  }


  #info-text {
    margin: 12px;
  }

  #how-to-overlay-container,
  #how-to-overlay-container-2 {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #how-to-overlay-container-2 {
    display: none;
  }
}